<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - Recall</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/css/recall-theme.css"/>
    </head>

    <body>
        <div class="container">

            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="/">Timeline</a></li>
                    <li><a href="/pushrequests">Push requests ({{ pushrequests|length }})</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
                <h3 class="text-muted">Recall</h3>
            </div>

            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <img src="/img/douglas.png" alt="You!">

                    <div>
                        <h4>{{ profile.name }}</h4>
                        <ul>
                            <li>{{ profile.gender }}</li>
                            <li>{{ profile.age }}</li>
                            <li>{{ profile.professionalGroup }}</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-9 col-md-10 main">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

    </body>
</html>
