{% extends 'layout.html.twig' %}

{% block title %}Timeline{% endblock %}

{% block content %}

    <h1 class="page-header">Timeline</h1>

    <div class="list-group timeline">
        {% for event in timeline %}
            <a href="/entry/{{ event.entryContext|replace({"/": "_"}) }}/{{ event.entryIdentifier }}@{{ event.eventIdentifier }}" class="list-group-item">
                <div>
                    <span class="list-group-item-date">{{ event.timestamp|date('d/m/Y') }}</span>
                    <h4 class="list-group-item-heading">{{ event.description }}</h4>
                </div>
                <div>
                    {% if event.deletions %}
                        <span class="event-numbers event-deletions">-{{ event.deletions }}</span>
                    {% endif %}
                    {% if event.insertions %}
                        <span class="event-numbers event-insertions">+{{ event.insertions }}</span>
                    {% endif %}
                    <p class="list-group-item-text">By {{ event.user.name }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
